{% extends 'catalog/basa.html' %}
{% load static %}
{% block title %}Контакты{%endblock title %}
{% block  content %}
  <div class="col-md-10 p-4">
    <h1 class="mb-4 text-dark text-center">Контакты</h1>
      <div class="row">
        <div class="col-md-5 mb-4">
          <div class="form-container">
            <h5 class="mb-3 text-dark text-center">Оставьте заявку</h5>
              <form action="{% url 'catalog:contacts' %}" method="POST">
                <input type="text" name="name" placeholder="Имя" class="my-input" required>
                <input type="email" name="email" placeholder="E-mail" class="my-input" required>
                <textarea name="message" placeholder="Сообщение" class="my-input" rows="4" required></textarea>
                <button type="submit">Отправить</button>
              </form>
          </div>
        </div>
        <div class="col-md-7">
          <div class="card shadow-sm mb-3 mt-1 p-2">
            <div class="card-body p-2">
              <h5 class="card-title text-center fw-bold">Наши контакты</h5>
              <p>Адрес предприятия:</p>
              <p class="card-text text-center mb-1">
                Московская область, г. Домодедово, мкр. Барыбино, ул. Агрохимиков вл.1
              </p>
              <p></p>
              <p>Телефон отдела продаж: +7 909 661-99-33 Евгений</p>
              <p>Электронная почта: betonbar@bk.ru</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
